* {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', 'Helvetica', sans-serif;
    color: black;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 300%;
    padding-bottom: 25px;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 150%;
    padding-bottom: 25px;
}

p {
    padding-bottom: 20px;
}
.center {
    text-align: center;
}
.letters {
    font-family: 'Monofett', cursive;
    font-size: 50px;
    letter-spacing: 10px;
}

.letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: green;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}